<h1>Show Message Page</h1>


<h2><%= @message.title %></h2>
<p><%= @message.description %></p>
<p><%=  @message.user.first_name %></p>




<%= link_to "Edit", edit_message_path(@message) %>
<%= link_to "Back", messages_path(@messages)%>
<%= link_to "Delete", message_path, method: :delete %>
