<h1>Create Event </h1>
<%= form_for @event do |f| %>

  <div class="field">
  <%= f.label :title %>
  <%= f.text_field :title%>
  </div>

  <div class="field">
  <%= f.label :location %>
  <%= f.text_field :location%>
  </div>

  <div class="field">
  <%= f.label :date %>
  <%= f.text_field :date%>
  </div>

  <div class="field">
  <%= f.label :description %>
  <%= f.text_field :description%>
  </div>

  <%= f.submit %>

<% end %>
