<style>
.events {
  background-color: black;
  color: white;
  ;
  padding: 10px;
}
.coo {
  line-height: 10px;
}
.coo2 {
  line-height: 20px;

}
.text {
font-size: 15px;
}
.card {
  display:inline-block;
  width: 18rem;
  margin: 25px;
}
</style>




<div class="events">
  <h1>My Events</h1>
</div>


<div class="coo2">

<h2>Events Created</h2>

<div class="coo">
<% @events.each do |event| %>
  <% if @event_ids.any?{|eid| eid == event.id} %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to event.title, event %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.location%></h6>
      <p class="card-text"><%= event.date %></p>
    </div>
  </div>

  <% end %>
<% end %>
<div class="coo2">
    <br></br>
</div>
</div>
</div>

<h2>Events Joined</h2>


<% @events.each do |event| %>
  <% if @joiner_ids.any?{|eid| eid == event.id} %>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title"><%= link_to event.title, event %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><%= event.location%></h6>
      <p class="card-text"><%= event.date %></p>
    </div>
  </div>
  <% end %>
<% end %>




<br></br>
<%= link_to 'Homepage', root_path %>
