<h1> My Events </h1>
<br></br>
<h3>Events Created </h3>

<% @events.each do |event| %>
  <% if @event_ids.any?{|eid| eid == event.id} %>
    <br><%= link_to event.title, event %></br>
    <br><p> Location: <%= event.location %>
    Date: <%= event.date %></p></br>
  <% end %>
<% end %>

<h3>Events Joined</h3>
<% @events.each do |event| %>
  <% if @joiner_ids.any?{|eid| eid == event.id} %>
    <br><%= link_to event.title, event %></br>
    <br><p> Location: <%= event.location %>
    Date: <%= event.date %></p></br>
  <% end %>
<% end %>
<br></br>
<%= link_to 'Back', :back %>
