<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @event.title%></h1>
    <p><%=@event.location%></p>
    <p><%= @event.date%></p>
    <%= @event.description%>
  </div>
</div>

<%= link_to "Back", events_path%>
<%= link_to "home", root_path%>

<% if @user_id == current_user.id %>
  <%= button_to "Delete", @event, method: :delete %>
<% end %>

<% if @user_id == current_user.id %>
  <%= button_to "Edit", "/events/#{@event.id}/edit", method: :get %>
<% end %>
