<div class="row">
  <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 text-xs-center">
    <h1><%= @event.title%></h1>
    <p><%=@event.location%></p>
    <p><%= @event.date%></p>
    <%= @event.description%>
  </div>
</div>



<h2><%= @event.title %></h2>
<p><br>Location: <%= @event.location %></br>
<br>Date: <%= @event.date %></br>
<br>Organizer: <%= @user %></br>
<br><%= @event.description %></br></p>


<% if @user_id == current_user.id %>
  <%= link_to "Delete", @event, method: :delete %>
<% end %>


<% if @user_id == current_user.id %>
  <%= link_to "Edit", "/events/#{@event.id}/edit", method: :get %>
<% end %>

<% if @user_id != current_user.id %>
  <% if @joiner_ids.none?{|eid| eid == @event.id} %>
    <%= button_to "Join Event", events_join_event_path(:controller => "events" , :user_id => current_user.id , :joiner => @event.id )%>
  <% end %>
<% end %>


<% if @joiner_ids.any?{|eid| eid == @event.id} %>
  <%= button_to "Leave Event", events_leave_event_path(:controller => "events", :id => @event.id ), method: :delete %>
<% end %>

<%= link_to 'Back', :back %>
