<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:page_title)%> | Friend Find</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if session[:user_id] %>
          Signed in as : <%= current_user.first_name%>
          <% else %>
          <%= link_to "Sign in", login_path %>
          <%= link_to "New Journey", signup_path%>
        <%end%>

    </header>
    <%= render 'layouts/navbar'%>
    <div class="container <%= controller_name %> <%= action_name%>">
      <%= yield %>

    </div>


  </body>
</html>
