<p id="notice"><%= notice %></p>

<style>
  body {
    background-color: #b19cd9;
  }

  .users {
    background-color: black;
    color: white;
    ;
    padding: 10px;
    font-size: 40px;
  }
  .coo {
    line-height: 5px;
  }
  .text {
    font-size: 20px;
  }
  .profile_pic {
    width: 100%;
    height: auto;
  }
  .card {
    display:inline-block;
    width: 18rem;
    margin: 25px;
  }
</style>
<script>
  document.getElementById("1")
</script>


<div class="users"
  <h1> Users </h1>
</div>

<div class="coo">
  <br></br>
</div>

    <% @users.each do |user| %>

    <!-- <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="<%= user.profile_pic %>" alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title"><%= user.full_name %></h4>
        <h5 class="card-title"><%= user.age %></h5>
        <p class="card-text"><%= user.description %></p>
        <a href="<%= "http://localhost:3000/users/#{user.id}" %>" class="btn btn-primary"><%= "#{user.first_name}'s profile" %></a>
      </div>
    </div> -->
        <% if user.id != current_user.id %>
          <div id="<%= user.id %>" class="card">
            <img class="card-img-top" src="<%= user.profile_pic %>" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= link_to "#{user.full_name}", "http://localhost:3000/users/#{user.id}" %></h5>
              <h6 class="card-subtitle mb-2 text-muted"><%= user.age %></h6>
              <p class="card-text"><%= user.description %></p>
            </div>
          </div>
        <% end %>

      <!-- <img src="<%= user.profile_pic %>">
      <div class="text">
        <strong></strong>
        <%= user.full_name %>
      </div>

      <div class="text">
        <strong>Age:</strong>
        <%= user.age %>
      </div>

      <div class="text">
        <strong>Bio:</strong>
        <%= user.description %>
      </div>

      <div class="text">
      <%=link_to "#{user.first_name}'s profile", user %>
      <br></br>
      </div> -->

    <% end %>
  <!-- </tbody>
</table> -->
<div class="text">
  <%= link_to 'Homepage', root_path %>
</div>

<%# <%= button_to "Follow", users_add_friend_path(:controller => "users" , :user_id => current_user2 , :follower => user.id )%>
