<style>
.events {
  background-color: black;
  color: white;
  ;
  padding: 10px;
}
</style>

<div class="events">
  <h2>Follow Page</h2>
</div>


<h3>Following </h3>
<% @users.each do |user| %>
  <% if @follower_ids.any?{|eid| eid == user.id} %>
    <br><%= link_to user.full_name, user %></br>
    <p><br> Age: <%= user.age %></br>
    <br>  Bio: <%= user.description %></br></p>
  <% end %>
<% end %>
<br></br>
<h3>Followers </h3>
<% @users.each do |user| %>
  <% if @user_ids.any?{|eid| eid == user.id} %>
    <br><%= link_to user.full_name, user %></br>
    <p><br> Age: <%= user.age %></br>
    <br>  Bio: <%= user.description %></br></p>
  <% end %>
<% end %>

<%= link_to 'Homepage', root_path %>
