<p id="notice"><%= notice %></p>

<p>
<img src="<%= @user.profile_pic %>"> </p>
<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>From:</strong>
  <%= @user.from %>
</p>

<p>
  <strong>Time Lived in NYC:</strong>
  <%= @user.duration %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>


<% if @follower_ids.any?{|eid| eid == @user1.id} %>
  <%= button_to "Unfollow", users_unfollow_path(:controller => "users", :id => @user1.id), method: :delete %>
<% end %>

<% if @user1.id != current_user.id %>
  <% if @follower_ids.none?{|eid| eid == @user1.id} %>
    <%= button_to "Follow", users_add_friend_path(:controller => "users" , :user_id => current_user2 , :follower => @user1.id )%>
  <% end %>
<% end %>

<% if @user1 == current_user2 %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>



<%= link_to 'Back', users_path %>
