<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>From:</strong>
  <%= @user.from %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @user.duration %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user.first_name == current_user.first_name %>
  <%= button_to "Delete", @user, method: :delete %>
<% end %>

<% if @user.first_name == current_user.first_name %>
  <%= button_to "Edit", "/user_events/#{@user.id}/edit", method: :get %>
<% end %>
