<p id="notice"><%= notice %></p>

<p>
<img src="<%= @user.profile_pic %>"> </p>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.description %>
</p>

<p>
  <strong>From:</strong>
  <%= @user.from %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @user.duration %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @user.zip %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if @user1 == current_user2 %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<!-- <% if @user1 == current_user2 %>
  <%= button_to "Delete", @user, method: :delete %>
<% end %> BE CAREFUL OF THIS ONE !_! -->


<%= link_to 'Back', users_path %>
