<style>
.events {
  background-color: black;
  color: white;
  ;
  padding: 10px;
  font-size: 40px;
}
.profile_pic {
  width:600px;
  height:400px;
}
.trait {
  display:inline-block;
  width: 18rem;
  margin: 25px;
  position: absolute;
  left: 30%;
}
.test {
}
</style>

<% if @user1 == current_user2 %>
  <div class="events">
    <h1>Profile</h1>
  </div>
<% end %>


<p id="notice"><%= notice %></p>

  <p> <img class="profile_pic" src="<%= @user.profile_pic %>"> </p>

<div>

  <h3>
    <%= @user.full_name %>,
    <%= @user.age %>
  </h3>


  <h6>
    From: <%= @user.from %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Time Lived in NYC: <%= @user.duration %> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Zip: <%= @user.zip %>

  </h6>

  <p>








  </p>

  <p>
    <%= @user.description %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>
</div>

<% if @follower_ids.any?{|eid| eid == @user1.id} %>
  <%= button_to "Unfollow", users_unfollow_path(:controller => "users", :id => @user1.id), method: :delete %>
<% end %>

<% if @user1.id != current_user.id %>
  <% if @follower_ids.none?{|eid| eid == @user1.id} %>
    <%= button_to "Follow", users_add_friend_path(:controller => "users" , :user_id => current_user2 , :follower => @user1.id )%>
  <% end %>
<% end %>

<% if @user1 == current_user2 %>
  <%= link_to 'Edit', edit_user_path(@user) %>
<% end %>

<%= link_to 'Back', users_path %>
