<h1> Events </h1>

<% @user_events.each do |user_event| %>
  <div><p><%= link_to user_event.title, user_event %>
  Location: <%= user_event.location%>
  Date: <%= user_event.date %>
  Organizer: <%= user_event.user.first_name%></p></div>
<% end %>
<%= link_to 'Homepage', root_path %>
