<%= form_with(model: story, local: true) do |form| %>


  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :context %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :Image %>
    <%= form.text_field :img_url %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
