<%provide(:page_title, 'All Story')%>
<h1>Story</h1>

<div class="card">
  <div class="card-header">
  </div>
  <div class="card-body">  <% @stories.each do |story| %>
    <h5 class="card-title"><%=story.title%></h5>
    <p class="card-text"> <%=story.content%> </p>
    -----------------
    <a href=<%=story_path(story)%>, class="btn btn-primary">view story</a>
    <% end %>
  </div>
</div>

<%=link_to "New Story", new_story_path %>
<%= link_to 'Homepage', root_path %>
