<%provide(:page_title, @story.title)%>
<h1>Story Board</h1>

<div style= width="300" height="300">
<%= image_tag(@story.img_url) %>
</div>

<h2><%= @story.title %></h2>

<p>Posted by <%= @story.user.first_name %></p>
<h1><%= @story.content %></h1>

<h3>Comments:</h3>
<%= render "comments/comment"%>
<p>Posted By: <%=@story.user.first_name %></p>

<h3>ReplyComment:</h3>
<%= render "comments/form"%>
<p>Posted By: <%=@story.user.first_name%></p>

<%= link_to 'Profile', users_path %>
<%= link_to "Back", stories_path%>
<% if @story.user_id == session[:user_id] %>
<%= link_to "Edit", edit_story_path(@story) %>
<%= link_to "Delete", story_path, method: :delete %>
<%end%>
