

  <div class="jumbotron text-center">
    <h1>Friend Finder</h1>
    <!-- <img src="https://www.nwf.org/-/media/NEW-WEBSITE/Shared-Folder/Wildlife/Mammals/mammal_north-american-river-otter_600x300.ashx" alt="Smiley face" height="" width="" > -->
    <p></p>
  </div>

</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if current_user %>
      <h3><%= link_to "Profile", current_user %></h3>
      <p>View your profile</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "My Events", "/events/my_events" %></h3>
      <p>View events that you've created or joined</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Following", "/users/my_friends" %></h3>
      <p>List of users your following</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Stories", "/stories" %></h3>
      <p>look at user stories</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Users", '/users' %></h3>
      <p>Look for friends</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Events", '/events' %></h3>
      <p>Look for events</p>
    </div>
    <% else %>
    <p><%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %></p>
  </div>
  <% end %>
</div>



<br><%= link_to "Log Out", logout_path %></br>




<p id=”notice”><%= notice %></p>
