

  <div class="container">
    <center><img src="http://static1.squarespace.com/static/52e1b262e4b06ef060506756/57bc22d9725e25f9d008b59f/5cf971e6a11b670001843b6c/1564088332791/Hero%2B2.jpg?format=1500w" alt="Smiley face" height="400px" width="100%"></center>
  </div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <% if current_user %>
      <h3><%= link_to "Profile", current_user %></h3>
      <p>View your profile</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "My Events", "/events/my_events" %></h3>
      <p>View events that you've created or joined</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Following", "/users/my_friends" %></h3>
      <p>List of users your following</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Stories", "/stories" %></h3>
      <p>look at user stories</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Users", '/users' %></h3>
      <p>Look for friends</p>
    </div>
    <div class="col-sm-4">
      <h3><%= link_to "Events", '/events' %></h3>
      <p>Look for events</p>
    </div>
    <br><%= link_to "Log Out", logout_path %></br>
    <% else %>
    <h3><%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %></h3>
  </div>
  <% end %>
</div>








<p id=”notice”><%= notice %></p>
